@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

* {
    font-family: "Playwrite GB S", cursive, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
}
:root{
    --black-bg: linear-gradient(45deg, #060606, #434242);
    --black-pri: #060606;
    --black-sec: #434242;

    --pink-bg: linear-gradient(45deg, #ff9ec6, #ff0090);
    --pink-pri: #ff9ec6;
    --pink-sec: #FF0080;
    
    --blue-bg: linear-gradient(45deg, #68D2E8, #03AED2);
    --blue-pri: #68D2E8;
    --blue-sec: #03AED2;
    
    --red-bg: linear-gradient(45deg, #E72929, #FF204E);
    --red-pri: #E72929;
    --red-sec: #FF204E;

    --dark-pri: #060606;
    --dark-sec: #434242;

    --white-bg: linear-gradient(45deg, #FFFFFF, #FFF7F1);
    --light-pri: #f9f9f9;
    --light-sec: #f2f2f2;
    --light-text: #F1E4C3;
    --white-text: white;

    --button-bg: var(--black-sec);
    --button-hover-bg: var(--black-pri);

    --current-bg: var(--black-bg);

    --light-nav-text: white;
    --light-nav-hover: #ccc;
}
body {
    background: var(--current-bg);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
    margin: 20px;
    height: 100vh;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.nav-link {
    color: white;
}
.nav-text{
    color: var(--light-nav-text);
}
.nav-text:hover{
    color: var(--light-nav-hover);
}

.balance-container {
    display: inline-block;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    background-color: var(--light-pri);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    overflow: visible;
}

.new-category, .new-balance, .delete-category {
    font-size: 13px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    overflow: visible;
}

.balance-title {
    font-size: 25px;
}

.balance-amount {
    text-align: left;
    border-radius: 8px;
    padding: 0 10px;
    width: 100%;
}

.balance-amount.load-up {
    transform: translateY(-10px);
    color: green;
}

.balance-amount.load-down {
    transform: translateY(10px);
    color: red;
}

.header {
    color: var(--white-text);;
    font-size: 4rem;
    position: relative;
    right: 80px;
}

.finance-tracker-divs {
    background-color: var(--light-pri);
    font-size: 12px;
    margin: auto 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: visible;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    overflow: visible;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: #999;
}

button {
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: var(--white-text);;
    border: none;
}

button:hover {
    background-color: var(--button-hover-bg);
}

.expense-table, .income-table, .budget-table {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: visible;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: visible;
}

thead th {
    background-color: var(--light-sec);
    padding: 10px;
    text-align: center;
}

tbody td {
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.delete-btn, .dup-btn, .delete-budget-btn {
    color: var(--black-sec);
    cursor: pointer;
}

.delete-btn:hover {
    color: grey;
}

.delete-budget-btn:hover{
    color: grey;
}

.dup-btn:hover {
    color: grey;
}

.total-amount {
    padding: 10px;
    text-align: right;
    background-color: var(--light-sec);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropDownBtn{
    background-color: transparent;
    color: var(--black-sec);
    border: 0.5px solid var(--black-sec);
}
/* ^ THIS IS THE LAST COLOR ATTRIBUTE WE CHANGE*/

.dropdown-content{
    position: absolute;
    background-color: var(--light-pri);
    min-width: 100px;
    min-height: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    margin-top: 2px;
}

.dropdown-content a {
    text-align: center;
    color: #000;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    margin: 5px auto;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    width: 90%;
    border-radius: 15px;
    margin: 5px auto;
}

.dropdown-themes, .delete-category{
    flex-direction: column;
    position: absolute;
    overflow: visible;
    z-index: 10000;
    min-width: 100px;
    background-color: var(--light-pri);
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 1px 1px;
}
.delete-category{
    top: auto;
    left: auto;
    margin: auto 35px;
    transform: translateX(0);
}
.theme-choices{
    position: relative;
    font-size: 13px;
    display: block;
    margin: 5px auto;
    color: #000;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}
.delete-options{
    position: relative;
}

.theme-choices:hover{
    border-radius: 15px;
    width: 90%;
}

.budget-dropdown {
    position: relative;
    display: inline-block;
}

.budgetBtn{
    background-color: transparent;
    border: 1px solid #ccc;
    color: #999;
}

.budgetBtn:hover{
    color: #fff;
}

.budget-content {
    position: absolute;
    background-color: var(--light-pri);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 15px;
    margin-top: 2px;
}

.budget-content a {
    text-align: center;
    color: #000;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    margin: 5px auto;
}

.budget-content a:hover {
    background-color: #f1f1f1;
    width: 90%;
    border-radius: 15px;
    margin: 5px auto;
}

.light:hover{
    background-color: var(--light-text);
}
.black:hover{
    background-color: var(--black-sec);
}

.pink:hover{
    background-color: var(--pink-sec);
}

.blue:hover{
    background-color: var(--blue-sec);
}
.red:hover{
    background-color: var(--red-sec);
}

@media screen and (max-width: 1100px) {
    .header {
        font-size: 3.25rem;
    }
}

.center {
    text-align: center;
}
.hidden {
    display: none;
}
